@use '../custom' as *;
@use '../components/mixins' as *;

.contact {
  padding: 4rem 0;
  background-color: $gray-200;
}

.contact__info {
  margin: 1rem 0;
  padding: 3rem;
}

.contact__info-list{
  position: relative;
  margin-bottom: 0.7rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  list-style-type: none;
}

.form {
  padding: 3rem;
}