@use '../custom' as *;
@use '../components/mixins' as *;

.hero {
  @include gradient;
  padding: 10rem 0 0 0;
  width: 100%;
  height: 100%;
}

.video-box {
  position: relative;
}

.video-box a {
  // @include absolute-center;
}

.video-box__play-button span i {
  font-size: 6rem;
  color: $secondary;
  transition: transform 0.3s;
}
.video-box__play-button:hover i {
  transform: scale(0.90);
}

.border-animation{
  position: absolute;
  top: 0;
  left: 0;
  border: 0.55rem solid $white;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  animation: pulse-border 1.5s linear infinite;
}
.border-animation--1{
  animation-delay: 1s;
}
.border-animation--2{
  animation-delay: 1.5s;
}