@use '../custom' as *;

.services {
  position: relative;
  padding: 1rem 0;
}

.services__content {
  margin-top: 0;
  padding: 1rem;

  @include media-breakpoint-up(lg) {
    margin-top: 5rem;
  }
}

.services__content p {
  font-size: 0.8rem;

  @include media-breakpoint-up(lg) {
    font-size: 1rem;
  }
}

.services__content .icon {
  font-size: 1.5rem;
  color: $primary;

  @include media-breakpoint-up(lg) {
    margin-top: 5rem;
    font-size: 2.5rem;
  }
}

.services__content button {
  border-color: $primary;
}

.services__pic {
  max-width: 100%;
}
