@use '../custom' as *;

.display-2 {
  margin-bottom: 1rem;
  font-family: 'Poppins', sans-serif;
  text-transform: capitalize;
}
.display-2--hero-intro{
  margin-bottom: 1.2rem;
  display: inline-block;
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
}
.display-2--hero-description{
  display: block;
  font-size: 1.2rem;
  text-transform: none;

  @include media-breakpoint-up(lg) {
    display: inline-block;
    font-size: 1.4rem;
  }
}

.heading-line::before {
  content: '';
  margin: 0 auto;
  display: block;
  width: 10rem;
  height: 0.15rem;
  background-color: $primary;
}
.heading-line::after {
  content: '';
  margin: 0 auto 1rem;
  display: block;
  border-radius: 40% 40% 40% 40% / 0% 0% 100% 100%;
  padding-top: .1rem;
  width: 2rem;
  height: 0.3rem;
  background-color: darken($primary, 5%);
}